.edit_number {
    padding: 0 10px;

    .title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
    }
    .body{
        padding: 10px 0;
        .type,.tips,.unit,.required{
            display: flex;
            align-items: center;
            padding: 10px 0;
            span:first-child{
                width: 40px;
            }
        }
        .tips{
            span:first-child{
                width: 80px;
            }
        }
    }
}