.preview_form {
  .ant-row.ant-form-item {
    display: flex;
    flex-direction: column;
  }

  .ant-col.ant-form-item-label {
    text-align: left;
  }

  .ant-checkbox-group,
  .ant-radio-group {
    display: flex;
    flex-direction: column;
  }

  .ant-checkbox-wrapper {
    margin: 0;
  }
}